<div class="container my-4">
    <form action="/api/addLot" method="POST">
        <div class="form-group">
            <label>Parking Area Name</label>
            <input type="text" class="form-control" name="lotType" id="lotType" required>
        </div >
        <div class="form-group">
            <label>Lot Name</label>
            <input type="text" class="form-control" name="lotName" id="lotName" required>
        </div >
        <div class="form-group">
            <label>Lot Number</label>
            <input type="text" class="form-control" name="lotNumber" id="lotNumber" required>
        </div >
        <div class="form-group">
            <label>Total Spaces</label>
            <input type="number" class="form-control" name="totalSpaces" id="totalSpaces" required>
        </div >
        
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
</div>