<%- include('lotSelector', { id: "remove" }) %>

<div class="container my-2">
    <button id="remove" class="btn btn-danger">Remove</button>
</div>

<script>
var lotToRemove = null;
var lotIdToRemove = null;

let removeButton = $('#remove');

function removeSelectLot(type, lot, lotId) {
    console.log(`remove select ${type}, ${lot} ${lotId}`);
    lotToRemove = lot;
    lotIdToRemove = lot ? lotId : null;

    if (lotToRemove) {
        removeButton.removeClass('disabled');
    }
    else {
        removeButton.addClass('disabled');
    }
}

removeButton.addClass('disabled');
removeButton.click(function () {
    if (!lotIdToRemove)
    return;

    console.log('delete ' + lotIdToRemove);
    fetch(`api/delete/${lotIdToRemove}`, {
        method: 'DELETE'
    }).then(res => {
        // Go to home page.
        window.location.replace("/");
    });
});
</script>
    