<div class="table-responsive">
    <label>Parking Occupancy (%)</label>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th colspan="5">Days</th>
            </tr>
            <tr>
                <th>Times</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        <tbody>
            <tr id="7am">
                <th>7:00 am</th>
                <td><input type="text" name="7am_monday" class="form-control" required></td>
                <td><input type="text" name="7am_tueday" class="form-control" required></td>
                <td><input type="text" name="7am_wednesday" class="form-control" required></td>
                <td><input type="text" name="7am_thursday" class="form-control" required></td>
                <td><input type="text" name="7am_friday" class="form-control" required></td>
            </tr>
            <tr id="11am">
                <th>11:00 am</th>
                <td><input type="text" name="11am_monday" class="form-control" required></td>
                <td><input type="text" name="11am_tueday" class="form-control" required></td>
                <td><input type="text" name="11am_wednesday" class="form-control" required></td>
                <td><input type="text" name="11am_thursday" class="form-control" required></td>
                <td><input type="text" name="11am_friday" class="form-control" required></td>
            </tr>
            <tr id="2pm">
                <th>2:00 pm</th>
                <td><input type="text" name="2pm_monday" class="form-control" required></td>
                <td><input type="text" name="2pm_tueday" class="form-control" required></td>
                <td><input type="text" name="2pm_wednesday" class="form-control" required></td>
                <td><input type="text" name="2pm_thursday" class="form-control" required></td>
                <td><input type="text" name="2pm_friday" class="form-control" required></td>
            </tr>
            <tr id="4pm">
                <th>4:00 pm</th>
                <td><input type="text" name="4pm_monday" class="form-control" required></td>
                <td><input type="text" name="4pm_tueday" class="form-control" required></td>
                <td><input type="text" name="4pm_wednesday" class="form-control" required></td>
                <td><input type="text" name="4pm_thursday" class="form-control" required></td>
                <td><input type="text" name="4pm_friday" class="form-control" required></td>
            </tr>
        </tbody>
    </table>
</div>